.Skills {
  height: 75vh;
  margin-top: 8rem;
  /* border: 1px solid greenyellow; */
  padding: 0.5rem 3.5rem; 
}
.S-title{
  /* border: 1px solid green; */
  text-align: center;
  
}
.S-title>span:nth-child(1){
  color: var(--rogerBlue);
  font-size: 2rem;
  text-align: center;
}
.S-title>span:nth-child(2){
  font-size: 2rem;
  text-align: center;
}

.S-title>span:nth-child(3){
  color: var(--rogerBlue);
  font-size: 2rem;
  text-align: center;
}
.s-cards1{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(8,1fr);
}
.s-cards2{
  width: 100%;
  margin-left: 4rem;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  
}
.s-cards2-cont{
  width: 70%;
  height: 30vh;
  margin: auto;
  /* border: 1px solid green; */
  margin-top: 3rem;
}

@media screen and (max-width:480px) {
  .Skills{
    margin-top: 15rem;
    padding: 0.5rem 1rem;
  }
  .s-cards1{
    /* display: grid; */
    gap: 4px;
    grid-template-columns: repeat(2,1fr);
    margin-left: 45px;
  }
  .s-cards2{
    gap: 10px;
    width: 120%;
    grid-template-columns: repeat(2,1fr);
    height: 40vh;
    margin-left: 135px;
  }
  .s-cards2-cont{
    margin-top: 10px;
    margin-left: -90px;
  }
}