.Skills {
  height: 75vh;
  margin-top: 8rem;
  /* border: 1px solid greenyellow; */
  padding: 0.5rem 3.5rem; 
}
.S-title{
  /* border: 1px solid green; */
  text-align: center;
  
}
.S-title>span:nth-child(1){
  color: var(--rogerBlue);
  font-size: 2rem;
  text-align: center;
}
.S-title>span:nth-child(2){
  font-size: 2rem;
  text-align: center;
}

.S-title>span:nth-child(3){
  color: var(--rogerBlue);
  font-size: 2rem;
  text-align: center;
}
.s-cards1{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(8,1fr);
}
.s-cards2{
  width: 100%;
  margin-left: 4rem;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  
}
.s-cards2-cont{
  width: 70%;
  height: 30vh;
  margin: auto;
  /* border: 1px solid green; */
  margin-top: 9rem;
}
