.Projects{
    margin-top: 5rem;
    padding: 0.5rem 3.5rem;  
    width: 90%;
}
.p-title{
    text-align: center;
}
.p-title>span{
    font-size: 2rem;
}
.p-left{
    width: 50%;
}
.p-cards{
    display: flex;
    margin-top: 2rem;
    height: 80vh;
    border: 4px solid var(--rogerBlue);
    border-radius: 20px;
}
.p-buttons{
    width: 60%;
    display: flex;
    /* border: 1px solid green; */
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
}
.p-right{
    width: 50%;
    margin-top: 40px;
}
.icon-imgs{
    width: 10%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}
.icon-imgs>img{
    border: 1px solid green;
}
.project_img{
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    transition: transform .2s;
}
.project_img:hover{
     transform: scale(1.1);
}
.p-TechStack{
    margin-top: 40px;
    margin-left: 30px;
}
.p-TechStack>p{
    font-size: medium;
}
.project-title{
    margin-left: 20px;
    text-decoration: underline;
}
.project-title{
    margin-top: 30px;
}
.project-intro{
    /* margin-top: 1rem; */
    margin-left: 10px;
    text-align: justify;
}
.project-features-heading{
    text-decoration: underline;
    margin-left: 10px;
}
.project-group{
    margin-left: 10px;
}
.project-Res{
    margin-left: 10px;
    text-decoration: underline;


}

@media screen and (max-width:480px) {
    .Projects{
        padding: 0.5rem 1rem;
        margin-top: 30rem;
    }
    .project_img{
        width: 100%;
        margin-left: 60px;
    }

    .p-cards{
        width: 100%;
        flex-direction: column;
        height: 120vh;
    }
    .p-TechStack{
        width: 100%;
        margin-left: 2px ;

    }
    .p-TechStack>p{
        width: 100%;
    }
    .p-buttons{
        width: 60%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
    margin-right: 10px;
}
.p-right{
    width: 100%;
}
}
